cl-banner-v1 {
  display: block;
  height: 420px;
  @include shadow(3);
  @media(max-width: $screen-sm) {
    height: 360px;
  }
  & > .banner-background {
    height: 100%;
    background-position: 5%;
    background-size: 300%;
    @media(max-width: $screen-sm) {
      background-size: auto;
    }
    @media(min-width: $screen-md) {
      background-size: 150% 420px;
      background-position: 10% 0;
    }
    @media(min-width: $screen-lg) {
      background-size: cover;
      background-position: 32.5%;
    }
    @media(min-width: $screen-xl) {
      background-size: cover;
      background-position: 5%;
    }
  }
  & .publish-opening-desktop {
    text-align: center;
    margin: 5rem auto 0 auto;
    @media(min-width: $screen-lg) {
      width: 80%;
    }
    & h1 {
      font-size: 42px;
      line-height: 46px;
      margin-top: 1.3rem;
      margin-bottom: 2rem;
      @media(min-width: $screen-lg) {
        font-size: 52px;
      }
      @media(min-width: $screen-ws) {
        font-size: 72px;
        line-height: 64px;
      }
    }
    & h5 {
      font-size: 18px;
      margin-top: 1rem;
      & strong {
        line-height: 24px;
      }
      @media(min-width: $screen-lg) {
        display: block;
        margin: 1rem auto 1rem auto;
      }
      @media (min-width: $screen-ws) {
        font-size: 24px;
        margin-bottom: 0.5rem;
      }
    }
    & a.btn {
      @include shadow(2);
      font-size: 18px;
      font-weight: 500;
      @media(min-width: $screen-ws) {
        width: 48%;
      }
    }
    *:not(button) {
      color: $color-white;
    }
    & .candidate-info {
      margin-top: 7rem;
      font-style: italic;
      @media(max-width: $screen-sm) {
        margin-top: 3rem;
      }
      @media(min-width: $screen-ws) {
        font-size: 18px;
      }
      & a {
        text-decoration: underline;
      }
    }
  }
}
