$ico-dist: 0.5rem;

$color-white: #fff;
$color-dash-gray: #f1faf9;
$color-dull-gray: #96A5A1;
$color-faded-gray: #d5dbd9;
$color-deep-gray: #676667;
$color-vincu-info: #00939a;
$color-vincu-info-hover: #31a8ac;
$color-vincu-info-action: #00757b;
$color-vincu-success: #00c9c4;
$color-vincu-success-hover: #31a8ac;
$color-vincu-success-action: #00757b;
$color-vincu-success-green: #8dc044;
$color-vincu-success-green-hover: #2fa839;
$color-vincu-success-green-action: #009747;
$color-vincu-default: #4f5453;
$color-vincu-default-hover: #806965;
$color-vincu-default-action: #4f7272;
$color-vincu-inverse: #fff;
$color-vincu-inverse-hover: #ebfeff;
$color-vincu-inverse-action: rgba(208,245,246,0.4);
$color-vincu-text: #4f5453;
$color-vincu-accent: #08c2bd;
$color-vincu-banner-shade: #3ee8e7;
$color-vinu-title-info: #00c9c4;
$color-vincu-steps-bubble: #fff;
$color-vincu-steps-bubble-active: #31a8ac;
$color-vincu-icon-bubble: #1d9de9;
$color-vincu-deep-blue: #00939a;
$color-vincu-stale-blue: #009ca3;
$color-vincu-stale-green: #00c491;
$color-vincu-jet-black: rgba(0, 0, 0, 0.6);
$color-vincu-misty-green: #92c548;
$color-vincu-misty-green-light: #B2D67E;
$color-vincu-danger: #cc3b3b;

$font-vincu-title: Open Sans, sans-serif;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-ws: 1300px;
